<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--ConnectionString di bawah untuk keperluan UAT-->
    <!--<add name="DBEntities" connectionString="metadata=res://*/DataModel.ModelDB.csdl|res://*/DataModel.ModelDB.ssdl|res://*/DataModel.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=it-dev01-pc;initial catalog=ISL_HEALTH;user id=sa;password=P@ssw0rd123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--ConnectionString di bawah untuk keperluan SIT-->
    <add name="___DBEntities" connectionString="metadata=res://*/DataModel.ModelDB.csdl|res://*/DataModel.ModelDB.ssdl|res://*/DataModel.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.222;initial catalog=ISL_HEALTH_SIT;persist security info=True;user id=sa;password=P@ssw0rd123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBEntities" connectionString="metadata=res://*/DataModel.ModelDB.csdl|res://*/DataModel.ModelDB.ssdl|res://*/DataModel.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=ISL_HEALTH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1451.0.53" newVersion="17.1451.0.53" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>